* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ex5 parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

