@media (min-width: 700px) {
nav {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    #hamburger {
        display: none;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}